.buttons{
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}
.link{
padding: 20px;
    margin: 10px;
    border-radius: 10px;
text-decoration: none;
background-color: #4cc5c3;
color: black;

}
.link:hover{
    color: white;
    font-weight: bold;
}
